
.musicCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 90%;
    max-width: 40rem;
    margin: 2rem auto;
    padding: 2rem;
}

.name {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    font-weight: bold;
}
.frame {
    margin-bottom: 1rem;
}




