.container{
    display:flex;
    flex-direction: column;
    margin-top: 3rem;
    line-height: 2rem;
}

.name {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    font-weight: bold;

}
.frame {
    display: flex;
    justify-content: center;
}
